{% load static %}
{% include 'header.html' %}
	
	<div id="content">

		<div id="product">
			<div style="font-size:30px;color:#AB72C0;width:100%;padding:10px 0;" >{{ product_name }}</div>
			<div id="detail-box">
				<div class="detail-left"><img src="{% static img_product %}" width="200"></div>
				<div class="detail-right">{{ product_name }} <br><br>
					<h5>Deskripsi :</h5> KNALPOT KAWASAKI NINJA ORIGINAL R dan RR. ASLI BAWAAN MOTOR. SILINCER STANDAR BAGIAN PERUT ada bekas restorasi tapi ngga kelihatan sebab pengerjaan nya rapi. kondisi cat kaya baru. silincer mulus cling. gambar hanya pemanis. nanti bisa japri sebelum dikirim. <br><br>

					pemesanan bisa memakai emblem merk atau tanpa emblem jg bisa. tinggal kasih catatan.
					mau yg R atau RR harga sama.

				</div>
			</div>
		</div>
	</div>
	
{% include 'footer.html' %}